/* Base */
:root {
    --sans-serif: 'Inter', sans-serif;
    --semi-bold: 600;
    --oil: #333;
    --brand-pink: #ff1276; 
    --content-margin: 1rem;
}

html { height: 100%; }

body {
    font-family: var(--sans-serif);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    line-height: 1.25;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 67.5rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */
.site-header {
    padding: 1rem;
}

.site-header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.site-header a {
    color: var(--oil);
    text-decoration: none;
    font-weight: var(--semi-bold)
}

.site-header a:hover {
    color: var(--brand-pink)
}

/* Footer */
.site-footer {
    display: flex;
    gap: 1rem;
    padding: 2rem 0;
}

.site-footer h3 {
    font-weight: var(--semi-bold);
    font-size: 2rem;
}

.site-footer h4 {
    font-weight: var(--semi-bold);
    font-size: 1.25rem;
    margin-bottom: var(--content-margin);
}

.site-footer__tagline {
    flex-basis: 50%;
}

.site-footer__address,
.site-footer__social {
    flex-basis: 25%;
}

.site-footer__social ul {
    display: flex;
    gap: 0.25rem;
}

.site-footer__social a {
    text-decoration: none;
    color: var(--brand-pink);
}

/* Home Intro */
.home-intro {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 3rem 0;
}

.home-intro__content {
    grid-column: 4 /span 6;
    text-align: center;
    margin-bottom: 3rem;
}

.home-intro__content h1 {
    font-size: 3rem;
    font-weight: var(--semi-bold);
    margin-bottom: 1.5rem;
}

.home-intro__content p {
    font-size: 1.125rem;
    line-height: 1.5;
}

.home-intro__feat-image {
    grid-column: auto / span 6;
    grid-row: auto / span 2
}

.home-intro__image {
    grid-column: auto / span 3;
}